* {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

.container {
  display: flex;
}
.container .sidebar {
  background: #F9FAFC;
  box-shadow: 1px 0px 0px 0px rgba(104, 104, 247, 0.1);
  width: 20%;
  height: 100vh;
  border-right: 1px solid #BDBBC9;
  padding: 0 16px;
}
.container .sidebar .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 24px;
}
.container .sidebar .topbar .menu-bar {
  border: 1px solid #BDBBC9;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}
.container .sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .sidebar ul li {
  color: #2F3948;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  padding: 12px 0px;
  list-style: none;
  text-transform: capitalize;
  display: flex;
}
.container .sidebar ul li img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
}
.container .content {
  width: 80%;
  padding: 0 48px 0 48px;
  background: #F5F6FC;
}
.container .content .header {
  padding: 48px 0px 24px 0px;
  text-transform: capitalize;
  color: #5A5477;
  font-size: 18px;
  font-style: 16px;
  font-weight: 600;
  line-height: normal;
}
.container .content .balances {
  background: white;
}
.container .content .balances .btn-cont {
  background: white;
  border-bottom: 1px solid rgba(189, 187, 201, 0.2235294118);
  padding: 16px;
  justify-content: center;
}
.container .content .balances .btn-cont .btns {
  display: flex;
  gap: 16px;
}
.container .content .balances .btn-cont .btns button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 16px;
  text-transform: capitalize;
  border-radius: 5px;
}
.container .content .balances .btn-cont .btns .income-btn {
  border: 1.5px solid rgba(104, 104, 247, 0.3);
  background: #F0F0FE;
  color: #6868F7;
}
.container .content .balances .btn-cont .btns .expense-btn {
  color: #EB5757;
  border: 1.5px solid #EB5757;
  background: rgba(235, 87, 87, 0.1);
}
.container .content .balances .btn-cont .btns .viewdb-btn {
  color: #2F3948;
  border: 1.5px solid #BDBBC9;
  background: #F2F2F2;
}
.container .content .balances .btn-cont .btns .searcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 8px 10px;
  border-radius: 5px;
  border: 1.5px solid #F0F0FE;
  background: #F0F0FE;
  color: #BDBBC9;
}
.container .content .balances .btn-cont .btns .searcher .fa {
  margin-right: 12px;
}
.container .content .balances .btn-cont .btns .searcher input {
  width: 400px;
  background: #F0F0FE;
  border: none;
  outline: none;
  color: #BDBBC9;
}
.container .content .balances .btn-cont .btns .searcher input::-moz-placeholder {
  color: #BDBBC9;
}
.container .content .balances .btn-cont .btns .searcher input::placeholder {
  color: #BDBBC9;
}
.container .content .balances .btn-cont .btns .filter-btn {
  color: #2F3948;
  border: 1.5px solid #F0F0FE;
  background: #F9F9FF;
}
.container .content .balances table {
  border-collapse: collapse;
  width: 100%;
  white-space: wrap;
  color: #2F3948;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.container .content .balances table .sub-row {
  font-size: 12px;
  background: #F9F9FF;
  border-top: 1.5px solid #F0F0FE;
  border-bottom: 1.5px solid #F0F0FE;
}
.container .content .balances table .sub-row .bold, .container .content .balances table .sub-row .light {
  color: #2F3948;
  font-weight: 600;
  font-size: 12px;
}
.container .content .balances table .sub-row .light {
  color: #848484;
}
.container .content .balances tr .brk {
  display: block;
  color: #585757;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-top: 4px;
  text-transform: lowercase;
}
.container .content .balances tr .brk .debt-bal {
  color: #2F3948;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
}
.container .content .balances tr .debt-bal-cont {
  font-size: 14px;
  color: #2F3948;
  text-transform: lowercase;
}
.container .content .balances tr .debit {
  color: #EB5757;
  font-weight: 500;
  font-size: 14px;
}
.container .content .balances tr td {
  color: #2F3948;
  font-size: 14px;
  font-weight: 500;
}
.container .content .balances tr td .chbox {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}
.container .content .balances tr .dimmer {
  font-size: 14px;
  color: #848484;
  font-weight: 500;
}
.container .content .balances tr .trans-info, .container .content .balances tr .trans-time {
  font-size: 12px;
  color: #BDBBC9;
}
.container .content .balances tr .trans-time {
  font-size: 11px;
  font-weight: 400;
}
.container .content .balances tr .trans-status {
  font-size: 11px;
  font-family: Open Sans;
  color: #F2994A;
  font-weight: 600;
  background-color: rgba(242, 153, 74, 0.1019607843);
  padding: 6px 10px;
  border-radius: 5px;
}
.container .content .balances tr .pending {
  color: #F2994A;
}
.container .content .balances td, .container .content .balances th {
  text-align: left;
  padding: 10px 16px;
  text-transform: capitalize;
}
.container .content .balances th {
  font-size: 12px;
  font-weight: 600;
  color: #585757;
}/*# sourceMappingURL=index.css.map */